<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.storesInfo.dao.StoresDao">


    <!-- 查询门店信息 -->
    <select id="findAllStoreInfo" resultType="java.util.Map">
        SELECT
            su.id,
            sto.store_no,
            sto.store_name,
            sto.store_phone,
            sto.user_code,
            sto.province,
            sto.county,
            sto.store_address,
            sto.wanjia_account,
            sto.identity_card,
            su.user_name,
            sto.business_license,
            su.user_acct,
            su.user_pwd
            FROM t_store_info AS sto
            LEFT JOIN t_sys_user AS su
            ON sto.user_code = su.user_code
            WHERE sto.is_deleted = 0
            AND su.is_deleted = 0
            <if test="storeNo != null and storeNo != ''">
                AND store_no like concat('%', #{storeNo}, '%')
            </if>
            <if test="storeName != null and storeName != ''">
                AND store_name like concat('%', #{storeName}, '%')
            </if>
            <if test="province != null and province != ''">
                AND province like concat('%', #{province}, '%')
            </if>
            <if test="county != null and county != ''">
                AND county like concat('%', #{county}, '%')
            </if>
            <if test="userName != null and userName != ''">
                AND user_name like concat('%', #{userName}, '%')
            </if>
    </select>


    <!--=================================添加门店信息部分===================================-->

    <!-- 回显province,省份城市分开查询sql -->
    <select id="findProvince" resultType="java.util.Map">
        SELECT
        t_code_province.province_code AS code,
        t_code_province.province_name AS province
        FROM t_code_province
        WHERE t_code_province.is_deleted = 0
    </select>

    <!-- 回显County,省份城市分开查询sql -->
    <select id="findCounty" resultType="java.util.Map">
        SELECT
            t_code_county.county_code AS code,
            t_code_county.county_name AS county
            FROM t_code_county
            WHERE t_code_county.is_deleted = 0
            AND t_code_county.province_code = #{provinceCode}
    </select>

    <!-- 回显province,省份城市在同一个方法中查询sql -->
    <select id="findProvinces" resultType="java.util.Map">
        SELECT
        t_code_province.province_code AS code,
        t_code_province.province_name AS province
        FROM t_code_province
        WHERE t_code_province.is_deleted = 0
    </select>

    <!-- 回显County,省份城市在同一个方法中查询sql -->
    <select id="findCountys" resultType="java.util.Map">
        SELECT
            t_code_county.county_code AS code,
            t_code_county.county_name AS county
            FROM t_code_county
            WHERE t_code_county.is_deleted = 0
            AND t_code_county.province_code = #{provinceCode}
    </select>

    <!-- 查询门店账号是否已存在 -->
    <select id="haveAccount" resultType="java.lang.Integer" parameterType="com.xzsd.pc.storesInfo.entity.User">
        SELECT count(su.user_code) AS num
            FROM t_sys_user AS su
            WHERE su.is_deleted = 0
            AND (su.user_acct = #{ userAcct }
            OR su.phone = #{ storePhone })
            <if test="id != null and id != ''">
               AND id &lt;&gt; #{id}
            </if>
    </select>

    <!-- 查询当前城市所拥有的门店数 -->
    <select id="storeNumber" resultType="java.lang.Integer" parameterType="com.xzsd.pc.storesInfo.entity.Store">
        SELECT count(ts.id)
            FROM t_store_info AS ts
            WHERE province_no = #{ provinceNo }
            AND county_no = #{ countyNo }
    </select>

    <!-- 添加门店信息 -->
    <insert id="addStore" parameterType="com.xzsd.pc.storesInfo.entity.Store">
        INSERT INTO
            t_store_info
            VALUES ( #{storeNo},
            #{storeName},
            #{storeAddress},
            #{storePhone},
            #{userCode},
            #{wanjiaAccount},
            0,
            #{id},
            0,
            NOW(),
            #{userCode},
            NOW(),
            #{userCode},
            0,
            #{province},
            #{provinceNo},
            #{county},
            #{countyNo},
            #{starLevel},
            #{businessLicense},
            #{identityCard})
    </insert>

    <!-- 添加门店账户 -->
    <insert id="addStoreAccount" parameterType="com.xzsd.pc.storesInfo.entity.Store">
        INSERT INTO
            t_sys_user(user_code,
            user_name,
            user_acct,
            user_pwd,
            is_admin,
            is_deleted,
            id,
            sort_no,
            id_card,
            phone,
            gmt_create,
            create_by,
            gmt_modified,
            last_modified_by,
            version)
            VALUES(#{userCode},
            #{userName},
            #{userAcct},
            #{userPwd},
            0,
            0,
            #{id},
            0,
            #{identityCard},
            #{storePhone},
            NOW(),
            #{userCode},
            NOW(),
            #{userCode},
            0)
    </insert>

    <!-- 查询账户角色是否已有默认角色 -->
    <select id="userRole" resultType="java.lang.Integer" parameterType="com.xzsd.pc.storesInfo.entity.UserRole">
        select count(role_code) AS num
            from t_sys_user_role
            where user_code = #{ userCode }
            and is_deleted = 0
            and is_default = '1';
    </select>

    <!-- 添加用户角色 -->
    <insert id="addUserRole" parameterType="com.xzsd.pc.storesInfo.entity.UserRole">
        insert into t_sys_user_role
        (user_code,
        role_code,
        is_default,
        id,
        sort_no,
        gmt_create,
        create_by,
        gmt_modified,
        last_modified_by,
        is_deleted,
        version)
        values
        (#{userCode},
            '3',
            #{isDefault},
            #{id},
            0,
            NOW(),
            #{userCode},
            NOW(),
            #{userCode},
            0,
            0)
    </insert>


    <!--=================================编辑门店信息部分===================================-->
    <!-- 获取修改门店信息 -->
    <select id="findStoreById" parameterType="com.xzsd.pc.storesInfo.entity.Store" resultType="com.xzsd.pc.storesInfo.entity.Store">
        SELECT
            su.id,
            si.user_code,
            si.province_no,
            si.county_no,
            si.store_name,
            si.store_phone,
            si.wanjia_account,
            su.user_name,
            si.identity_card,
            si.business_license,
            su.user_acct,
            su.user_pwd,
            si.province,
            si.county,
            si.store_address
            FROM t_store_info AS si
            LEFT JOIN t_sys_user AS su
            ON su.user_code = si.user_code
            WHERE si.is_deleted = 0
            AND su.is_deleted = 0
			AND su.id = #{id};
    </select>

    <!-- 更新门店信息 -->
    <update id="updateStoreInfo" parameterType="com.xzsd.pc.storesInfo.entity.Store">
        UPDATE
            t_store_info
            SET store_name = #{storeName},
            store_address = #{storeAddress},
            store_phone = #{storePhone},
            user_code = #{userCode},
            wanjia_account = #{wanjiaAccount},
            id = #{id},
            gmt_create = NOW(),
            gmt_modified = NOW(),
            last_modified_by = #{lastModifiedBy},
            province = #{province},
            province_no = #{provinceNo},
            county = #{county},
            county_no = #{countyNo},
            business_license = #{businessLicense},
            identity_card = #{identityCard},
            version = version + 1
            WHERE user_code = #{userCode}
    </update>

    <!-- 更新账号信息 -->
    <update id="updateStoreAccount" parameterType="com.xzsd.pc.storesInfo.entity.Store">
        UPDATE
            t_sys_user
        <set>
            gmt_create = NOW(),
            gmt_modified = NOW(),
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userAcct != null and userAcct != ''">
                user_acct = #{userAcct},
            </if>
            <if test="userAcct != null and userAcct != ''">
                user_pwd = #{userPwd},
            </if>
            <if test="userAcct != null and userAcct != ''">
                phone = #{storePhone},
            </if>
            <if test="userAcct != null and userAcct != ''">
                last_modified_by = #{lastModifiedBy},
            </if>
            <if test="userAcct != null and userAcct != ''">
                id_card = #{identityCard},
            </if>
            version = version + 1
            WHERE
            user_code = #{userCode}
        </set>
    </update>

    <!--=================================删除门店信息部分===================================-->
    <!-- 批量删除门店信息 -->
    <update id="deleteStoreInfo" parameterType="java.util.Map">
        UPDATE
            t_store_info
            SET
            is_deleted = 1,
            gmt_modified = NOW(),
            last_modified_by = #{last_modified_by}
            WHERE user_code
            IN
            <foreach collection="user_code_list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
    </update>
    <!-- 批量门店用户信息 -->
    <update id="deleteUserInfo" parameterType="java.util.Map">
        UPDATE
            t_sys_user
            SET
            is_deleted = 1,
            gmt_modified = NOW(),
            last_modified_by = #{last_modified_by}
            WHERE user_code
            IN
            <foreach collection="user_code_list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
    </update>
    <!-- 批量门店用户角色信息 -->
    <update id="deleteRoleUserInfo" parameterType="java.util.Map">
        UPDATE
            t_sys_user_role
            SET
            is_deleted = 1,
            gmt_modified = NOW(),
            last_modified_by = #{last_modified_by}
            WHERE user_code
            IN
            <foreach collection="user_code_list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
            and role_code = '3'
    </update>
    <!-- 查询是否还有角色 -->
    <select id="listHaveRoleUser" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT user_code FROM t_store_info WHERE user_code = #{userCode};
    </select>


</mapper>